1. What are data structures, and why are they important?

    - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

    - Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

    Important for :

    - Choosing the right data structure significantly impacts the efficiency and performance of your program.

    - Well-chosen data structures can:

     Simplify data manipulation (adding, removing, modifying elements).

     Optimize searching and sorting operations.

     Conserve memory usage.

2.  Explain the difference between mutable and immutable data types with examples.

    - The main difference between mutable and immutable data types in Python is:

    - Mutable data types: Can be changed after they are created.

    - Immutable data types: Cannot be changed after they are created. Any operation that modifies them actually creates a new object.

    Mutable Data Types Examples:-  
      List,
      Dictionary,
      Set.

    Immutable Data Types Examples:-  
    int,
    float,
    str (string),
    tuple.

3. What are the main differences between lists and tuples in Python?

            List: Mutable - you can change, add, or remove items.
            Created using square brackets [ ].
            Slower because they are mutable.
            When you need to modify data (e.g., adding/removing elements).
            Lists have many built-in methods: append(), remove(), pop(), etc.
           
            Tuple: Immutable - once created, it cannot be changed.
            Created using parentheses ( ).
            Faster because they are immutable and use less memory.
            When you want fixed data (e.g., coordinates, constant values).
            Tuples have only two: count() and index().

4.  Describe how dictionaries store data?

    -> A dictionary in Python is a collection of key-value pairs. Each key is unique, and each key is associated with a value. You can think of it like a real-life dictionary where a word (key) is linked to its definition (value).

In [ ]:
# Creating a dictionary
student = {
    "name": "Samiksha",
    "age": 13,
    "grade": "8th"
}

# Accessing data using the key
print(student["name"])
print(student["age"])

Samiksha
13

5. Why might you use a set instead of a list in Python?

    - I might use a set instead of a list when I need to store only unique values and perform quick operations like union, intersection, or difference. Sets are unordered, automatically remove duplicates, and are faster for checking if an item exists. They help when I want to avoid repeated data and care more about presence than order.

   -  I use a list when I need ordered data, allow duplicates, or want to access items by their position (index).

6. P What is a string in Python, and how is it different from a list?

    A string in Python is a sequence of characters enclosed in single quotes (') or double quotes ("). Strings are used to store and work with text data.

    Difference Between a String and a List :

  -  Data Type:
   A string holds only text (characters), while a list can hold any data type, such as numbers, strings, or even other lists.

   - Mutability:
   A string is immutable, meaning you cannot change its characters after it's created. A list is mutable, so you can change, add, or remove elements.

   - Syntax:
   Strings are written inside quotes, like "Hello". Lists are written inside square brackets, like [1, 2, 3].

  -  Use Case:
   Use a string when you're working with text data. Use a list when you need to store a collection of multiple items.

  -  Indexing:
   Both strings and lists support indexing, meaning you can access individual characters or items using their position (e.g., name[0] or my_list[0]).

7.  How do tuples ensure data integrity in Python?

    - A tuple in Python is a group of items stored together.

    - It uses round brackets like this: (1, 2, 3).

    - Tuples are immutable, which means:

    - You cannot add items.

    - You cannot remove items.

    - You cannot change items.

    - This helps keep the data safe and unchanged.

    - It ensures the original data stays correct and reliable.

8. What is a hash table, and how does it relate to dictionaries in Python ?

  -  A hash table is a data structure that stores data using key-value pairs.

  -  It uses a hash function to convert keys into a unique index to store values.

   - This makes data lookup very fast, even with large amounts of data.

  -  In Python, the dictionary (dict) is built using a hash table.

  -  So when you use a dictionary, Python uses a hash table behind the scenes to store and access data efficiently.

9. Can lists contain different data types in Python?

    Yes, lists in Python can contain different data types. A list is a collection that can store items of any data type, including integers, strings, floats, and even other lists or objects.

    In this example, the list contains:

    - An integer (25)

    - A string ("Hello")

    - A float (3.14)

    - A boolean (True)

    - A nested list ([1, 2, 3])

In [ ]:
my_list = [25, "Hello", 3.14, True, [1, 2, 3]]
print(my_list)

[25, 'Hello', 3.14, True, [1, 2, 3]]

10. Explain why strings are immutable in Python.

   -  Efficiency: Immutable strings allow Python to optimize memory usage and performance by reusing string objects.

   -  Security: It prevents accidental changes to the string data, ensuring its integrity.

   -  Hashing: Immutable objects can be used as keys in dictionaries and elements in sets because their value doesn’t change.

   -  Consistency: Ensures that once a string is created, its content remains unchanged, which makes it predictable and safe for program logic.

11. What advantages do dictionaries offer over lists for certain tasks?

    -  Faster Lookups: Dictionaries provide faster access to values using keys, while lists require sequential searches.

    -  Key-Value Pairing: In dictionaries, data is stored as key-value pairs, making it easier to associate and retrieve related information.

    -  Uniqueness: Dictionary keys must be unique, ensuring there are no duplicates, unlike lists.

    -  Memory Efficient: Dictionaries use hashing, making them more memory efficient for large datasets when compared to lists.

12.  Describe a scenario where using a tuple would be preferable over a list?

    - Fixed Data: Use a tuple when the data should never change, like days of the week or GPS coordinates.

    - Faster Performance: Tuples are faster than lists because of their immutability.

   - Data Integrity: Tuples protect the data from accidental changes.

   - Hashable: Tuples can be used as dictionary keys, while lists cannot.

   - Readability: When a collection is meant to be constant, using a tuple clearly shows it won’t change.

13.  How do sets handle duplicate values in Python?
   
  -  Sets automatically remove duplicate values—they only keep unique elements.
  -  Useful for removing repeated items from a list or any collection.
  -  Since sets are unordered, they focus on value existence, not order or frequency.
  - Perfect for union, intersection, and difference operations that need unique elements.
  - You don't need to manually check for duplicates—Python does it for you when creating a set.

14.  How does the “in” keyword work differently for lists and dictionaries?

  For Lists:

   - The in keyword checks if a value exists in the list.

   - It searches through all elements.

   For Dictionaries:

   - The in keyword checks if a key exists, not values.

   - It looks only at the keys in the dictionary.

In [ ]:
my_list = [1, 2, 3]
print(2 in my_list)
print(4 in my_list)

True
False

In [ ]:
my_dict = {"name": "Samiksha", "age": 13}
print("name" in my_dict)
print("Samiksha" in my_dict)

True
False

15.  Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple in Python.
Because,
   -  Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.

   - This immutability helps in protecting data, making tuples useful for storing constant or fixed information.

   - If you try to change a value in a tuple, Python will raise a TypeError.

16.  What is a nested dictionary, and give an example of its use case ?

    A nested dictionary is a dictionary inside another dictionary. It lets you store structured data in a hierarchical format—like a dictionary of dictionaries.

In [ ]:
# Use Case Example: Storing student records

students = {
    "101": {"name": "Samiksha", "age": 13, "grade": "8A"},
    "102": {"name": "Aarav", "age": 14, "grade": "8B"}
}

#Accessing Data:

print(students["101"]["name"])

Samiksha

17.  Describe the time complexity of accessing elements in a dictionary?

   - Average case: Accessing elements using a key takes O(1) time (constant time), due to Python’s hash table implementation.

   - Worst case: Rarely, it may take O(n) if many keys hash to the same value (collision), but Python handles this efficiently internally.

18. In what situations are lists preferred over dictionaries?

    - Use lists when the order of items is important (e.g., step-by-step instructions, sequences).

    - Ideal for simple, single-value items like numbers, names, or tasks.

   -  Lists are great when you need to access elements by position using indexes.

   -  Easier and faster to loop through values when no key-value mapping is needed.

    - Lists typically use less memory for small, ordered data compared to dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    - Original Behavior: Before Python 3.7, dictionaries were unordered, meaning key-value pairs had no fixed order.

   -  Now Ordered (3.7+): From Python 3.7 onwards, they maintain insertion order, but this is still not their primary feature.

    - Key-Based Access: Data retrieval is based on keys, not position, so order doesn't affect performance.

    - No Indexing: You cannot access items by index like in lists.

    - Use Case Impact: If order matters (like steps or ranks), a list or OrderedDict might be better.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

   List:
    
    - Data is retrieved by index (position).

    - Example: my_list[0] returns the first item.

    - Slower if you need to search by value (you must scan each item).

    - Best for ordered collections where position matters.

   Dictionary:
    
   -  Data is retrieved by key (not by position).

   - Example: my_dict["name"] returns the value linked to the "name" key.

   - Very fast lookups using keys due to hashing.

   - Best for structured data with labels (key-value pairs).

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
# Creating a string with my name
my_name = "Shrushti Dilip Gaikwad"

# Printing the string
print("My name is:", my_name)

My name is: Shrushti Dilip Gaikwad

2. Write a code to find the length of the string "Hello World".

In [ ]:
# Define the string
text = "Hello World"

# Find the length using len()
length = len(text)

# Print the result
print("The length of the string is:", length)

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("The first 3 characters are:", sliced_text)

The first 3 characters are: Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated text:", new_text)

Updated text: I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
# Creating a tuple
my_tuple = (100, 200, 300)

# Printing the tuple
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_last = colors[-2]

# Print the result
print("Second-to-last element:", second_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number using min()
min_number = min(numbers)

# Print the result
print("Minimum number:", min_number)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [4]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
cat_index = animals.index("cat")

# Print the result
print("Index of 'cat':", cat_index)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
# Create a tuple with three fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
# Create a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [7]:
# Create the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the set after clearing
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [8]:
# Create the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [9]:
# Define two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [10]:
# Define two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [11]:
# Create the dictionary
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [12]:
# Create the dictionary
person = {
    'name': 'John',
    'age': 25
}

# Add a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [13]:
# Create the dictionary
person = {
    'name': 'Alice',
    'age': 30
}

# Access the value associated with the key "name"
name_value = person['name']

# Print the value
print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
# Create the dictionary
person = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}

# Remove the key "age"
del person['age']

# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [15]:
# Create the dictionary
person = {
    'name': 'Alice',
    'city': 'Paris'
}

# Check if the key "city" exists in the dictionary
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [16]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Print the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [18]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [2, 23, 30, 40, 77]

28. Write a code to create a list with strings and print the element at the third index.

In [19]:
# Create a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
print("Element at index 3:", my_list[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [20]:
# Create two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [21]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list into a set to remove duplicates
my_set = set(my_list)

# Print the set
print("Converted set:", my_set)

Converted set: {'cherry', 'banana', 'apple'}